html{
  width: 100%;
  height: 100%;
  body{
    max-width: 1000px;
    height: 100%;
  }
  body::-webkit-scrollbar{
    display: none;
  }
  body::-ms-scrollbar{
    display: none;
  }
  body::-o-scrollbar{
    display: none;
  }
  body::scrollbar{
    display: none;
  }
}
@font-face{
  font-family: 'my-BoLe';
  src: url('/ETLManager/assets/fonts/伯乐俏皮体.ttf');
}